<form [formGroup]="studentsForm">
    <input formControlName='title' />

    <div formArrayName="students">
        @for (student of students.controls; let i = $index; track $index) {
        <div [formGroupName]="i">
            <input formControlName="name">
            <input [attr.type]="'number'" formControlName="age">
        </div>
        }
    </div>
</form>

@for(button of buttons; track button.id) {
<label [for]="button.label">{{button.label}}</label>
<button #btn (click)="button.action()" [attr.label]="button.label">button
    Name</button>
}