/* Main Dashboard Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
    /* Full viewport height */
}


.dashboard-main-content {
    flex-grow: 1;
    /* Takes up the remaining space */
    padding: 2rem;
    overflow-y: auto;
    /* Allows only the main content to scroll */
}